{% extends 'base.html.twig' %}
{% block title %}Connexion Back-office{% endblock %}

{% block body %}

<section class="container-fluid">
    <form class="ourForm" method="post">    
        <div class="container-fluid card col-lg-6 col-md-4 col-sm-3 p-5 ourCard">
            <h1 class="h3 mb-3 ourLogintitle text-center">Connexion Back-office</h1>
            <label for="inputEmail">E-mail*</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe*</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg mt-4 col-3 ourBtnXl" type="submit">
                Se connecter
            </button>

            {% if error %}
                <div class="alert alert-danger my-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="my-2">
                Vous êtes déja connecté comme: {{ app.user.userIdentifier }}. <a href="{{ path('back_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        </div>
    </form>
</section>

{% endblock %}
