{% extends 'base.html.twig' %}
{% block title %}Picture
{% endblock %}

{% block body %}
	{{ include('_nav.html.twig') }}
	<div class="contaier-fluid mx-5">
		<h1 class="text-center pt-5 ourShadow">Picture</h1>
		<div class="d-flex justify-content-end">
        <a href="{{ path('back_picture_edit', {'id': picture.id}) }}">
				<button type="button" class="btn ourBtn m-2">Modifier</button>
			</a>
			<a href="{{ path('back_picture') }}">
				<button type="button" class="btn ourBtnXl m-2">Retour à la liste</button>
			</a>
        </div>
		<div class="d-flex justify-content-center">
			<table class="table table-hover table-bordered text-center">
				<tbody>
					<tr>
						<th class="table-secondary">Id</th>
						<td>{{ picture.id }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Url</th>
						<td>{{ picture.url }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Description</th>
						<td>{{ picture.description }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Crédit</th>
						<td>{{ picture.credit }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Text alternative (alt)</th>
						<td>{{ picture.altText }}</td>
					</tr>
					<tr>
						<th class="table-secondary">L'image fait partie de la galerie?</th>
						<td>{{ picture.galery ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Slug</th>
						<td>{{ picture.slug }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Date de publication</th>
						<td>{{ picture.publishedAt ? picture.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Date de création</th>
						<td>{{ picture.createdAt ? picture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th class="table-secondary">Date de modification</th>
						<td>{{ picture.updatedAt ? picture.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-end">
			{{ include('back/picture/_delete_form.html.twig') }}
		</div>

	</div>
{% endblock %}
